.venv/
__pycache__/
data/raw/*
!data/raw/.gitkeep
outputs/*
!outputs/.gitkeep
models/*
!models/.gitkeep
.env

.venvv/
.env.*
!.env.example
data/processed/*
!data/processed/.gitkeep
.ipynb_checkpoints/
*.zip
*.part
